{% extends 'base.html.twig' %}

{% block title %}Product Review{- {{ product }}{% endblock %}

{% block body %}
    <h2>{{ product }} </h2>

    {% if reviews|length > 0 %}
     <div>There are {{ reviews|length }} reviews.</div>
        {% for review in reviews %}
            {% if review.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ review.photofilename) }}" />
            {% endif %}

            <h4>{{ review.author }}</h4>
            <small>
                {{ review.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ review.text }}</p>
        {% endfor %}
    {% else %}
        <div>No reviews have been posted yet for this product.</div>
    {% endif %}
    <h2>Add your own feedback</h2>
    {{ form(review_form) }}
{% endblock %}
